# ignore assets
/assets export-ignore

# ignore git(hub) files
/.git* export-ignore

# ignore crowdin files
/crowdin.yaml export-ignore

# ignore Netbeans Project Files
/nbproject export-ignore

# ignore **.po (Translation Source)
**.po* export-ignore

# ignore **.po (Translation Source)
/vendor export-ignore
